body {
    min-height: 100%;
    height: auto;
    background-color: #002055;
    background-image: radial-gradient(ellipse 50% 70% at 50% 0,#002c74 20%,#001536);
    background-attachment: fixed;
    direction: ltr;
    overflow-x: initial;
}